<form n:name=$form class="form-inline" role="form">
    <ul class="error" n:if="$form->ownErrors">
        <li n:foreach="$form->ownErrors as $error">{$error}</li>
    </ul>

    <div n:foreach="$form->controls as $input" n:class="form-group, $input->required ? form-group, required">
        {label $input /}
        {input $input}
    </div>

</form>